<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultSectionTitle" value="Section"/>
    <add key="DefaultSectionInstructions" value="Ask your teacher for instructions."/>
    <add key="DefaultQuestion" value="[Ask your teacher for the question]"/>
    <add key="DefaultAnswer" value="[Ask your teacher for the answer]"/>
    <add key="DefaultQuestionType" value="Enumeration"/>
  </appSettings>
</configuration>