@using ExamAssistant.Models
@model ExamDashboardViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <h2 class="sub-header">Your Exams</h2>
            @{
                StudentExamPartialViewModel unfinishedExamViewModel = new StudentExamPartialViewModel()
                {
                    Exams = Model.UnfinishedExams,
                    PagerId = "unfinishedExamPagedList",
                    ExamTableId = "unfinishedExamList",
                    IsCompleted = false
                };
            }
            @Html.Partial("_StudentExamPartial", unfinishedExamViewModel)

            <h2 class="sub-header">Exam History</h2>
            @{
                StudentExamPartialViewModel completedExamViewModel = new StudentExamPartialViewModel()
                {
                    Exams = Model.CompletedExams,
                    PagerId = "completedExamPagedList",
                    ExamTableId = "completedExamList",
                    IsCompleted = true
                };
            }
            @Html.Partial("_StudentExamPartial", completedExamViewModel)
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var updatePage = function (id, targetId, e) {
            var $pageLink = e;

            var options = {
                url: $pageLink.attr("href"),
                type: "GET"
            };

            $.ajax(options).done(function (data) {
                var target = $(id).attr(targetId);
                $(target).replaceWith(data);
            });
        };

        var getStudentExamPage = function() {
            var pagedListId = $(this).closest(".paged-list").attr('id');
            updatePage("#"+pagedListId, "exam-pagedlist-target", $(this));
            return false;
        };

        $(document).ready(function() {
            $(".paged-list a[href]").click(getStudentExamPage);
        });
    </script>
}
