<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            @*<div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>*@
            <h2 class="sub-header">Your Exams</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Subject</th>
                        <th>Exam Type</th>
                        <th>Schedule</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>English</td>
                        <td>Quarter Exam</td>
                        <td>MON - 9:00 AM - 11:00 AM</td>
                        <td>-/50</td>
                        <td>
                            <button class="btn btn-success">Take Now</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Math</td>
                        <td>Quarter Exam</td>
                        <td>MON - 8:00 AM - 9:00 AM</td>
                        <td>-/50</td>
                        <td>
                            <button class="btn btn-success">Take Now</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Science</td>
                        <td>Long Exam</td>
                        <td>TUE - 9:00 AM - 10:00 AM</td>
                        <td>-/50</td>
                        <td>
                            <button class="btn btn-success">Take Now</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Filipino</td>
                        <td>Long Exam</td>
                        <td>WED - 7:00 AM - 9:00 AM</td>
                        <td>-/50</td>
                        <td>
                            <button class="btn btn-success">Take Now</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Chemistry</td>
                        <td>Quiz Exam</td>
                        <td>FRI - 8:00 AM - 10:00 AM</td>
                        <td>-/50</td>
                        <td>
                            <button class="btn btn-success">Take Now</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h2 class="sub-header">Exam History</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Exam Type</th>
                            <th>Schedule</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>English</td>
                            <td>Quarter Exam</td>
                            <td>MON - 9:00 AM - 11:00 AM</td>
                            <td>30/50</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Math</td>
                            <td>Quarter Exam</td>
                            <td>MON - 8:00 AM - 9:00 AM</td>
                            <td>50/50</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Science</td>
                            <td>Long Exam</td>
                            <td>TUE - 9:00 AM - 10:00 AM</td>
                            <td>45/50</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Filipino</td>
                            <td>Long Exam</td>
                            <td>WED - 7:00 AM - 9:00 AM</td>
                            <td>10/50</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Chemistry</td>
                            <td>Quiz Exam</td>
                            <td>FRI - 8:00 AM - 10:00 AM</td>
                            <td>20/50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>