@using ExamAssistant.Models
@using PagedList.Mvc
@model AdminViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
            <h1 class="page-header">Manage Exam Assistant</h1>
            <div class="table-responsive">
                <p>
                    Here you can view the list of students and exams that are registered to
                    <strong>Exam Assistant</strong> on this computer.<br />
                    You can add a new student by clicking on the <span class="text-success">Add Student</span> button. <br />
                    To add a new exam, click on the <span class="text-success">Add Exam</span> button.
                </p>
            </div>
            <div class="row">
                <h2 class="sub-header">
                    Registered Students
                </h2>
                @using (Ajax.BeginForm("GetStudentsInPage", new { page = 1 }, new AjaxOptions()
                {
                    UpdateTargetId = "studentList",
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace
                }))
                {
                    <div class="form-horizontal col-md-10" role="search">
                        <div class="form-group">
                            <label for="keyword" class="control-label col-md-2">Search Student</label>
                            <div class="col-md-7">
                                <input id="studentKeyword" name="keyword" type="text"
                                       class="form-control col-md-10 has-clear"
                                       placeholder="Search by name or ID number">
                                <span class="clearer glyphicon glyphicon-remove-circle hidden"
                                      clear-target="#studentKeyword"></span>
                                <button id="studentSearchBtn" type="submit"
                                        class="btn btn-primary search-btn">
                                    Search
                                </button>
                            </div>
                        </div>

                    </div>

                }

            </div>
            <div class="table-responsive">
                @Html.Partial("_StudentListPartial", Model.Students)
            </div>

            <div class="row">
                <h2 class="sub-header">
                    Available Exams
                    <button class="add-btn sub-header btn btn-success">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Create New Exam
                    </button>
                </h2>
                @using (Ajax.BeginForm("GetExamsInPage", new { page = 1 }, new AjaxOptions()
                {
                    UpdateTargetId = "examList",
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace
                }))
                {
                    <div class="form-horizontal col-md-9" role="search">
                        <div class="form-group">
                            <label for="examKeyword" class="control-label col-md-2">Search Exam</label>
                            <div class="col-md-7">
                                <input id="examKeyword" name="examKeyword" type="text"
                                       class="form-control col-md-10 has-clear"
                                       placeholder="Search by name, subject, or type">
                                <span class="clearer glyphicon glyphicon-remove-circle hidden"
                                      clear-target="#examKeyword"></span>
                                <button id="examSearchBtn"
                                        type="submit" class="btn btn-primary search-btn">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                }

            </div>
            @Html.Partial("_ExamListPartial", Model.Exams)
        </div>

    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var updatePage = function (id, targetId, e) {
            var $pageLink = e;

            var options = {
                url: $pageLink.attr("href"),
                type: "GET"
            };

            $.ajax(options).done(function (data) {
                var target = $(id).attr(targetId);
                $(target).replaceWith(data);
            });
        }

        var getStudentPage = function () {
            updatePage("#studentPagedList", "student-pagedlist-target", $(this));
            return false;
        }

        var getExamPage = function () {
            updatePage("#examPagedList", "exam-pagedlist-target", $(this));
            return false;
        }

        var updateStudentStatus = function () {
            var $studentRecord = $(this);

            var options = {
                url: $studentRecord.attr("student-target"),
                type: "POST"
            };

            $.ajax(options).done(function (data) {
                $("#studentList").replaceWith(data);
            });
        };

        var resetSearch = function () {
            var $clearButton = $(this);
            var textboxId = $clearButton.attr('clear-target');
            $(textboxId).val('');
            $clearButton.addClass('hidden');
            $clearButton.next('button.search-btn').click();

            return false;
        };

        var displayClearButton = function () {
            var $searchBox = $(this);
            var $clearButton = $searchBox.next('span.clearer');
            if ($searchBox.val().length > 0) {
                $clearButton.removeClass('hidden');
            } else {
                $clearButton.addClass('hidden');
            }
            return false;
        };

        $(document).ready(function () {
            $("#studentPagedList a[href]").click(getStudentPage);
            $("#examPagedList a[href]").click(getExamPage);

            $("body").on('click', "button[name='updateStudentStatus']", updateStudentStatus);

            $(".has-clear").keyup(displayClearButton);
            $(".clearer").click(resetSearch);
        });


    </script>
}


